<div class="container">
  <h1>{{ title }}</h1>
  <app-numbers
    (sendInput1)="receiveNum1($event)"
    (sendInput2)="receiveNum2($event)"
  ></app-numbers>

  <div class="display">
    {{num1}}<br/>
    {{ operationChoice }}<br/>
    {{ num2 }}
  </div>

  <app-operation
    (choiceOp)="receiveAdd($event)"
    (choiceOp)="receiveSubtract($event)"
    (choiceOp)="receiveMultiply($event)"
    (choiceOp)="receiveDivide($event)"
  ></app-operation>


  <app-result
    [num1]="num1"
    [num2]="num2"
    [operatorChoice]="operationChoice"
  ></app-result>


</div>